* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Arial, sans-serif;
}
/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.nav-foot-bg{
  background-color: #091D3B !important;
  color:white;
}

.card-shadow{
  box-shadow: 1px 3px 9px 1px rgba(0,0,0,0.37);
  -webkit-box-shadow: 1px 3px 9px 1px rgba(0,0,0,0.37);
  -moz-box-shadow: 1px 3px 9px 1px rgba(0,0,0,0.37);
}

.primary-color{
  background-color: #26D956 !important;
  color: white !important;
}

p{
  padding: 0 !important;
  margin: 0 !important;

}

.div-border{
  border-radius: 1em;
}

.round-btn{
  border-radius: 0.7em !important; 
  width: 30%;
}

.remove-hyperlink{
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color from parent */
}

.input-with-icon {
  position: relative;
}

.input-with-icon input[type="text"] {
  padding-right: 30px; /* Adjust this value according to the size of your icon */
}

.input-with-icon img {
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust this value to position the icon */
  transform: translateY(-50%);
  cursor: pointer;
}

.rounded-input {
  border: 1px solid #ccc;
  border-radius: 20px; /* Adjust the value to change the roundness */
  padding: 8px 12px; /* Adjust the padding as needed */
  font-size: 16px; /* Adjust the font size as needed */
  outline: none; /* Remove the outline when focused */
}

/* Optionally, you can add styles for focus and hover states */
.rounded-input:focus {
  border-color: #007bff; /* Change border color when focused */
}

.rounded-input:hover {
  border-color: #999; /* Change border color on hover */
}

.done-btn img{
  transition: transform 0.3s ease-in-out
}

.done-btn img:last-child{
  display: none;
}

.done-btn:hover img:last-child{
  display: block;
}

.done-btn:hover img:first-child{
  display: none;
}

.done-btn:active{

  background-color: transparent;
  border-color: transparent;
  outline: none;
}

.done-btn:focus{
  outline: none !important;
  border-color: transparent !important;
  background-color: transparent !important;
}


/* Type */
.type {
  padding: 0 !important;
  margin-left: 1.5em;
}

.type-btn {
  border: 1px solid rgb(228, 231, 235);
  border-radius: 50px; /* Reduced border-radius for consistency */
  padding: 0;
  margin: 0;
  margin-left: 2em;
  width:fit-content;
}

.btn-active {
  background-color: #4DA464 !important;
  color: #fff !important;
}

.type-btn .btn {
  margin: 0;
  font-size: 0.6em; /* Reduced font size for a smaller text */
  padding:  0.7em;
}

.type-button .btn:hover {
  background-color: #4DA464;
  color: #ffffff;
}