<div class="container-fluid ">

    <div class="row ">
        <div class="col main-bg">

            <div class="row">
                <div class="col d-flex align-items-center ">
                    <p class=" fs-5 mb-0 p-0" id="time-today">04:25 A.M.</p>
                    <span class="ms-1 main-text text-uppercase p-0 m-0" id="datename-today">
                        Tue                
                    </span>
                
                </div>
   
                  <div class=" col dropdown header-dropdown">
                      <button class="btn bg-transparent dropdown-toggle text-white " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Whoo-hoo <span>Ryan</span>!
                        <img src="../../assets/images/default_user2.png" alt="">
                      </button>
                      <ul class="dropdown-menu bg-white">
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Dark Mode</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
                        <li><a class="dropdown-item" href="#">Exit</a></li>
                      </ul>
                  </div>
            
            </div>

            <div class="row">
                <div class="col d-flex flex-column justify-content-center align-items-center mb-2">
                    <h1 class="m-0 mt-3 timerTime" id="timerTime" name="timerTime">{{timerTime}}</h1>
                    
                  <button class="btn primary-color p-0 px-2 round-btn mt-1" (click)="trackTime()" id="start" name="start">{{isStart ? 'Break': 'Start Venture'}}</button>
        
                  <div class="d-flex justify-content-evenly">
                    <button id="pause" class="pause btn btn-primary flex-grow-1 me-2 " (click)="trackTime()" style="display: none;">{{isStart ? 'Break': 'Resume'}}</button>
                    <button id="stop" class="stop btn btn-danger flex-grow-1 ms-2" (click)="stopTrackTime()" style="display: none;">Done</button>
                  </div>
                </div>
        
            </div>

            <div class="row mt-4">
                <div class="col-7 d-flex main-text px-4 m-0">
                    <p >Currently Working: </p>

                    <select hidden [(ngModel)]="selectedProject" name="selectedProject" (change)="fetchTask()" class="mb-2 btn border text-start p-1">
                        <!-- <option value="" [selected]="!selectedProject" disabled>Select a project</option> -->
                        <option *ngFor="let project of projects" [ngValue]="project">{{ project.project_name }}</option>
                      </select>
            
                      <!-- <select  name="selectedProject"   class="mb-2 btn border text-start p-1">
                        <option  disabled hidden [selected]="!selectedProject">Choose a project</option>   
                      </select> -->
            
                      <select [(ngModel)]="selectedTask" name="selectedTask"  class="ms-2 mb-2 btn border text-start p-0 main-text">
                        <!-- <option [ngValue]="null" disabled hidden [selected]="!selectedTask">Choose a task</option>    -->
                        <option *ngFor="let task of tasks" [ngValue]="task">{{task.task_name}}</option>
                      </select>
                </div>

                <div class="col d-flex justify-content-end main-text px-4">
                    <p>Todays Total: <span> 100h 25m</span></p>
                </div>
            </div>

        </div>
    </div>

    <div class="row mt-4 d-flex align-items-center">

        <div class="col mt-1 d-flex align-items-center">

            <button class="btn p-3 pe-3 bookmark-btn" (click)="showBookmark('show')"></button>

            <div class="type-button">
                <div class="type-btn">
                    <button type="button" class="btn rounded-pill" [class.btn-active]="selectedTab === 'active'" (click)="changeStatus('O')">TO-DO</button>
                    <button type="button" class="btn rounded-pill" [class.btn-active]="selectedTab === 'archived'" (click)="changeStatus('C')">COMPLETED</button>
                </div>       
            </div>


        </div>

        <div class="col">
          <input type="text" id="searchInput" class="w-100 m-0 p-1 rounded-input" placeholder="  Search..." (input) ="searchTask($event)">
        </div>
    </div>

    <div class="row mt-4">

        <div class="overflow-auto col" style="overflow-x: hidden !important;">

            <div class="task-container row"  *ngFor="let listoftask of listoftasks">
                
              <div class="col d-flex flex-column mb-2">
                
                 <div class="row">
                  <div class="col-4 d-flex align-items-center ps-4 p-0 m-0 ">
                    <button type="button" class="btn done-btn p-0 pe-2" (click)="completeTask(listoftask.task_id)">
                      <img src="../../assets/images/check-round2.png" alt="" srcset="">
                      <img src="../../assets/images/check-round-checked2.png" alt="" srcset="">
                    </button>
                    <button type="button" class="btn p-0" (click) = "makeFavorite(listoftask.task_id)">
                      <img class="ms-3" src="../../assets/images/unfavorite.png" alt="feather">
                    </button>
                  </div>
                  
                  <div class="col-6 d-flex flex-column m-0 p-0">
                    <p class="text-uppercase m-0 p-0 list-task-text">{{listoftask.task_name}}</p>
                    <p class="m-0 p-0 list-project-text" >{{listoftask.project_name}}</p>
                  </div>  
    
                  <div class="col-2 d-flex flex-column align-items-center justify-content-start m-0 p-0 pe-5">
                    <button class="btn m-0 p-0" (click)="selectTask(listoftask.project_id,listoftask.project_name, listoftask.task_id,listoftask.task_name)"><img src="../../assets/images/playbutton2.png" alt=""></button>
                    <p  class="m-0 p-0" style="font-size: .7em; margin: 0 !important; padding: 0 !important;">{{listoftask.total_spent}}</p>
                  </div>
    
                 </div>
    
              </div>
           
              <hr>
              <!-- <span style="display: block;
              margin-left:1.2em;
              height: 1px;
              width: 19em;
              background: rgba(190, 190, 190, 0.678);" class="my-1"></span> -->
  
            </div>
            
            
  
          </div>
        

    </div>

    <div class="m-0 p-0 bookmark-div" id="bookmark-div">

    

        <div class="col-3 d-flex flex-column bookmark-items-div" id="bookmark-items-div">
          <button class="btn bookmark-btn-close" id="bookmark-btn-close" style="position: absolute; top: 1em; left: 4.5em;" (click)="showBookmark('hide')"> X</button>
            <ul class="mt-4 d-flex flex-column align-items-center justify-content-center pl-0">
              <li class="mb-3">  
                <a id="bookmark_link" class="col-4 d-flex align-items-center flex-column bookmark_link remove-hyperlink" href="https://www.messenger.com/" #bookmark (click)="openLink($event, 'https://www.messenger.com/')">
                  <img src="../../assets/images/owl_icon.png" alt="">
                  <p style="font-size: 0.7em;">Messenger</p>
                </a>
              </li>
              <li>  
                <a id="bookmark_link" class="col-4 d-flex align-items-center flex-column bookmark_link remove-hyperlink" href="https://www.facebook.com/" #bookmark (click)="openLink($event, 'https://www.facebook.com/' )">
                  <img src="../../assets/images/owl_icon.png" alt="">
                  <p style="font-size: 0.7em;">Facebook</p>
                </a>
              </li>

              <button class="me-4 p-2">+</button>

   
            </ul>

         
        </div>


        <div class="col">

        </div>
    </div>



</div>